{% extends "base_sidebar.html" %}
{% load static %}

{% block title %}
Inventario
{% endblock %}

{% block content %}
<!-- You can include page-specific CSS -->
    <link rel="stylesheet" href="{% static 'inventoryStyle.css' %}">

    <div id="inventario" class="section active">
        <div id="inventory-table" class="view active">
            <div class="header-bar d-flex justify-content-between align-items-center mb-3">
              <h1>Inventario</h1>
              <div class="header-actions d-flex align-items-center">
                <button class="btn btn-success add mr-2" onclick="mostrarFormularioAgregar()">Añadir Producto</button>
                <div class="search-bar">
                  <input type="text" id="search-input" class="form-control" placeholder="Buscar libros...">
                  <button class="btn btn-primary search-button"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
            <div class="table-container">
                <table class="table table-striped inventory-table">
                <thead class="thead-dark">
                <tr>
                    <th>Id Producto</th>
                    <th>Titulo</th>
                    <th>Precio</th>
                    <th>Disponibilidad</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody id="inventory-table-body">
                </tbody>
            </table>
            </div>
            <div id="add-book-form" class="modal" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Añadir Nuevo Libro</h2>
                            <button type="button" class="close" onclick="cerrarFormularioAgregar()">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form id="form-agregar-libro">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="titulo">Título:</label>
                                    <input type="text" id="titulo" name="titulo" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="precio">Precio:</label>
                                    <input type="number" id="precio" name="precio" class="form-control" step="0.01" required>
                                </div>
                                <div class="form-group">
                                    <label for="cantidad">Cantidad:</label>
                                    <input type="number" id="cantidad" name="cantidad" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Agregar Libro</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="edit-book-modal" class="modal" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Editar Libro</h2>
                            <button type="button" class="close" onclick="cerrarFormularioEditar()">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form id="form-editar-libro">
                                <div class="form-group">
                                    <label for="edit-id">ID:</label>
                                    <input type="text" id="edit-id" name="titulo" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="edit-titulo">Título:</label>
                                    <input type="text" id="edit-titulo" name="titulo" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="edit-precio">Precio:</label>
                                    <input type="number" id="edit-precio" name="precio" class="form-control" step="0.01" required>
                                </div>
                                <div class="form-group">
                                    <label for="edit-cantidad">Cantidad:</label>
                                    <input type="number" id="edit-cantidad" name="cantidad" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Modificar Libro</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'inventoryScript.js' %}"></script>

{% endblock %}